* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  align-items: center;
  background-color: beige;
  border-radius: 10px;
  padding: 5px;
}
body {
  display: flex;
  background-color: brown;
  border: 50px;
  flex-direction: column;
  gap: 10px;
}
#section1 {
  display: flex;
  justify-content: center;
  align-items: center;

  .main-left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;

    .main-right {
      display: flex;
      justify-content: center;
    }
  }
}

ul {
  display: flex;
  flex-direction: column;
  width: 260px;
  gap: 30px;
  padding: 60px;
  background-color: rgb(225, 189, 10);
  border-radius: 30px;
  margin: 20px;
}
img {
  width: 260px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}
