* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  text-align: center;
  align-items: center;
  background-color: beige;
  border-radius: 10px;
  padding: 5px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 50px;
  flex-direction: column;
  gap: 30px;
}
#section1 {
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;

  .main-left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;

    .main-right {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

ul {
  display: flex;
  flex-direction: column;
  width: 260px;
  gap: 20px;
  padding: 30px;
  background-color: #e1bd0a;
  border-radius: 30px;
  margin: 20px;
}
img {
  width: 260px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  border: 10px solid #e1bd0a; /* Couleur et épaisseur */
  border-radius: 30px; /* Angles arrondis */
  display: inline-block; /* Assurer que le cadre entoure l'image correctement */
}

h1 {
  display: flex;
  justify-items: center;
  align-items: center;
}

@media screen and (max-width: 768) {
  #section1 {
    flex-direction: column;
    align-items: center;
  }
}
